@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');

h1 {
  font-family: 'Balsamiq Sans', cursive;
  color: OrangeRed;
  text-shadow: 1px 1px;
  font-size: 25px;
  font-family: 'Lobster', cursive;
  margin-left: 20px;
}

section {
  font-family: sans-serif, Arial Black, fantasy;
  margin-left: 20px;
}

main {
  margin-left: 20px;
}

h2 {
  color: Olive;
  font-size: 20px;
  margin-left: 20px;
}

article {
  background-color: Olive;
  height: 200px;
  width: 90%;
  border: 10px solid olive;
  border-radius: 9px;
  margin-left: 20px;
}

.headline {
  color: White;
  font-family: monospace;
  margin-left: 20px;
}

.subtitle {
  margin-left: 20px;
}

.square {
  width: 50%;
}
